@charset "UTF-8";
.foto-header {
  background: url(../imagenes/header.jpeg) aqua;
  background-size: cover;
  overflow: hidden; }
  .foto-header h3 {
    color: #c208c2;
    background-color: white;
    margin-top: 0%;
    overflow: hidden;
    max-height: 27px; }
  .foto-header p {
    color: #f358c5;
    font-weight: bold;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    position: relative;
    top: 25px; }
  .foto-header .off-abajo {
    margin-top: 15%;
    position: relative;
    top: 9px; }

#imagenes-index div img {
  width: 90%;
  margin: 1%; }

/* MOBILE */
footer {
  background: #f4f2f2;
  background: radial-gradient(circle, #f4f2f2 0%, #ececec 50%, #b1b1b1 100%);
  border-top: solid black;
  height: 100%;
  width: 100%;
  padding: 10px; }
  footer .title-foo {
    font-size: 10px; }
  footer a {
    text-decoration: none; }
  footer ul li {
    display: flex;
    justify-content: center;
    padding: 0%;
    font-weight: bold;
    text-decoration: none;
    list-style: none; }
  footer #footer-ok {
    display: -webkit-box; }
  footer .pyp {
    display: flex;
    justify-content: center;
    padding: 0%;
    text-align: center; }
    footer .pyp a {
      color: #212529;
      font-size: 12px; }
  footer .fa-brands {
    width: 75px;
    list-style: none; }
  footer .fa-instagram {
    color: palevioletred;
    font-size: 20px; }
  footer .fa-facebook {
    color: blue;
    font-size: 20px; }
  footer .fa-whatsapp {
    color: #27df27;
    font-size: 20px; }
  footer .breadcrumb-item {
    color: #212529;
    font-size: 12px; }
    footer .breadcrumb-item a {
      color: #212529; }

/* Main de Productos */
.body-productos {
  background-color: white; }

.btn-primary {
  color: #080707;
  background-color: #e0e8f3;
  border-color: #eaedf1; }

.intro-1 h3 {
  text-align: center;
  font-size: 20px;
  background-color: #fc8fd7;
  font-family: "Heebo", sans-serif;
  font-weight: bold;
  border-radius: 100%;
  margin: 5%; }

#cartas .col-lg-4 {
  margin: 0%;
  padding: 25px; }

/* Productos/ver mas */
.ver-mas {
  display: flex;
  justify-content: center;
  position: relative;
  right: 5px; }
  .ver-mas ul {
    list-style-type: none; }
  .ver-mas a {
    text-decoration: none;
    color: #000; }
  .ver-mas h3 {
    font-size: 15px;
    font-weight: bold; }

/* Fin de main de Productos */
/* Barra de navegacion */
nav {
  font-size: 11px;
  font-weight: bold;
  background: #fbfbfb;
  background: linear-gradient(90deg, #fbfbfb 0%, #e0e0e0 44%, #b1b1b1 100%); }

.bg-light {
  --bs-bg-opacity: 1;
  background-color: hwb(240 91% 6%) !important; }

.dropdown-menu {
  font-size: 10px; }

.logo-amici {
  width: 80px;
  height: 80px; }

.form-control {
  font-size: 30px; }

/* Todos los botones del nav */
.navbar-light .navbar-nav .nav-link {
  font-weight: bold;
  font-family: 'Heebo', sans-serif; }

/* Munu despegable */
.navbar-toggler {
  font-size: 15px; }

.navbar-collapse {
  min-height: 140px; }

/* Dentro de Usuario */
.navbar-na {
  min-height: 250px; }

/* MOBILE */
.nosotras-0 h3 {
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  margin: 5%; }

.nosotras div {
  text-align: center; }
  .nosotras div img {
    width: 90%;
    height: 90%;
    border-radius: 5px;
    box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }

.nosotras-2 h3 {
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  color: #080707;
  text-shadow: 4px 4px 5px #817e7e;
  text-align: center;
  margin: 5%; }

.nosotras-3 img {
  width: 90%;
  height: 90%;
  margin: 5%; }

.nosotras-3 h3 {
  font-weight: bold;
  font-size: 20px;
  text-align: center; }

/* Animaciones Cartas */
#cartas .card:hover {
  border: solid #79646b; }

/* Animacion  Titulo Productos Disponibles */
.intro-1 h3 {
  animation: rosa-verde 3s ease;
  transition: all; }

@keyframes rosa-verde {
  0% {
    background-color: #ac8ffc;
    transform: translate(170px); }
  30% {
    background-color: #dfc2e0;
    transform: translate(170px); }
  50% {
    background-color: #555555;
    transform: translate(130px); }
  70% {
    background-color: #30caf1;
    transform: translate(60px); }
  100% {
    background-color: #e100ff;
    transform: translate(20px); } }

.transformacion-1:hover {
  transform: scale(1.15); }

.index-hover:hover {
  opacity: 90%;
  background-color: white; }

/* REGISTRARME */
.fondo-ini-regis {
  background: url(../imagenes/fondolila.jpg);
  background-repeat: no-repeat; }

.registrate-1 {
  text-align: center;
  margin-top: 3%;
  padding: 10px;
  display: flex;
  justify-content: center; }
  .registrate-1 h3 {
    color: white;
    font-size: 20px;
    font-family: "Heebo", sans-serif;
    background-color: #b9b9b9;
    padding: 10px; }

.englobador-registro {
  height: 100%;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9b9b9;
  text-align: center;
  box-shadow: 2px 5px 30px #000;
  margin: 10%; }

.registrate-2, .registrate-3, .registrate-4 {
  text-align: center;
  padding: 5%; }
  .registrate-2 h3, .registrate-3 h3, .registrate-4 h3 {
    font-size: 20px;
    color: white; }
  .registrate-2 input, .registrate-3 input, .registrate-4 input {
    font-size: 18px; }

.apellido-boton {
  text-align: center; }
  .apellido-boton h3 {
    font-size: 40px -20;
    color: white; }
  .apellido-boton input {
    font-size: 18px; }

.contra-boton {
  text-align: center; }
  .contra-boton h3 {
    font-size: 20px;
    color: white; }
  .contra-boton input {
    font-size: 18px; }

.registrate-4 button {
  font-size: 15px; }

/* CONFIGURACION DE INICIO DE SESION */
.fondo-ini-regis {
  background: url(../imagenes/fondolila.jpg); }

.sesion-1 {
  padding: 10px;
  display: flex;
  justify-content: center; }
  .sesion-1 h3 {
    font-size: 18px;
    margin: 5%;
    font-family: "Heebo", sans-serif;
    background-color: #b9b9b9;
    text-align: center;
    color: white;
    padding: 10px; }

/* Cuadro englobador y correo/contraseña */
.sesion-2 {
  position: relative;
  top: 10px;
  width: 285px;
  height: 345px;
  font-family: Arial, Helvetica, sans-serif;
  background-color: #b9b9b9;
  text-align: center;
  box-shadow: 2px 5px 30px #000;
  margin: auto;
  color: white; }
  .sesion-2 h3 {
    font-size: 30px;
    padding: 25px;
    font-weight: bold; }
  .sesion-2 div input {
    border: solid #2ba6c5;
    font-size: 19px;
    margin: 3%; }
  .sesion-2 div p a {
    color: white;
    position: relative;
    top: 40px;
    text-decoration: none;
    font-size: 24px; }

/* BOTON INGRESAR */
.sesion-3 input {
  position: relative;
  top: 10px; }

/* si sos nuevo */
.sesion-4 {
  text-align: center; }
  .sesion-4 h3 {
    position: relative;
    top: 11px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 4%; }
  .sesion-4 input {
    text-align: center;
    border: solid #2ba6c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 13px;
    margin: 2%; }

/* Fin de incio de sesion */
/* grid area */
.h3-galeria {
  text-align: center;
  font-size: 40px -15;
  font-family: "Heebo", sans-serif;
  margin: 2%; }

.galeria {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  grid-template-rows: repeat(9, 320px);
  grid-gap: 5px;
  text-align: center; }
  .galeria img {
    object-fit: cover;
    width: 80%;
    height: 80%;
    margin: 5px;
    transition: all 300ms; }

.galeria2 {
  display: grid;
  grid-template-columns: repeat(1, 320px);
  grid-template-rows: repeat(5, 320px);
  grid-gap: 5px;
  text-align: center; }
  .galeria2 img {
    object-fit: cover;
    width: 80%;
    height: 80%;
    margin: 5px;
    transition: all 300ms; }

@media screen and (min-width: 768px) {
  .navbar-toggler {
    font-size: 16px; }
  .navbar-collapse {
    min-height: 100%; }
  .logo-amici {
    width: 68px;
    height: 68px; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 10px; }
  nav {
    font-size: 15px; }
  .dropdown-menu {
    font-size: 10px; }
  .foto-header h3 {
    max-height: 30px;
    font-size: 20px;
    margin: 0%; }
  .foto-header p {
    position: relative;
    top: 45px; }
  .foto-header .off-abajo {
    margin-bottom: 10px; }
  #imagenes-index div img {
    width: 55%;
    margin: 1%; }
  #cartas {
    margin-left: 5%; }
  .intro-1 h3 {
    font-size: 20px; }
  footer .title-foo {
    font-size: 14px; }
  footer .fa-brands {
    font-size: 20px;
    width: 59px; }
  footer .pyp {
    text-align: center; }
  .nosotras div img {
    width: 70%; }
  .nosotras-0 h3 {
    font-size: 30px; }
  .nosotras-2 h3 {
    font-size: 20px; }
  .nosotras-3 h3 {
    font-weight: bold;
    font-size: 20px; }
  .nosotras-3 img {
    width: 60%;
    margin-left: 20%; }
  #boton-ingresar {
    display: flex;
    justify-content: center;
    position: relative;
    left: 240px;
    top: 10px; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: repeat(3, 270px);
    text-align: center; }
    .galeria img {
      object-fit: cover;
      width: 60%;
      height: 60%;
      transition: all 300ms; }
  .galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 260px);
    grid-template-rows: repeat(2, 270px);
    text-align: center; }
    .galeria2 img {
      object-fit: cover;
      width: 60%;
      height: 60%;
      transition: all 300ms; } }

@media only screen and (min-width: 1024px) {
  /* Barra de navegacion */
  #tama-navbar {
    height: 50px; }
  nav {
    font-size: 15px;
    font-weight: bold; }
  .navbar-nav {
    padding-left: 65%; }
  .dropdown-menu {
    font-size: 12px; }
  .logo-amici {
    width: 100px;
    height: 100px;
    position: relative;
    top: 4px; }
  .form-control {
    font-size: 20px; }
  .btn {
    font-size: 15px;
    font-weight: bold;
    color: #626060; }
  .navbar-toggler {
    font-size: 20px; }
  .navbar-collapse {
    height: 100px; }
  .navbar-na {
    height: 100px; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 12px; }
  /* INDEX IMAGENES */
  .foto-header p {
    position: relative;
    top: 50px; }
  .foto-header .off-abajo {
    margin-top: 11%; }
  #imagenes-index div img {
    width: 100%;
    margin: 1%; }
  /* Productos */
  .intro-1 h3 {
    text-align: center;
    font-size: 20px;
    background-color: #fc8fd7;
    font-family: "Heebo", sans-serif;
    font-weight: bold; }
  #cartas {
    margin-left: 2%; }
  .ver-mas {
    display: flex;
    justify-content: center;
    position: relative;
    right: 10px; }
    .ver-mas h3 {
      font-size: 20px; }
  /* Nosotras */
  .nosotras-0 h3 {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
    margin: 5%;
    border: solid #f1f0f0; }
  .nosotras div {
    text-align: center; }
    .nosotras div img {
      width: 50%;
      height: 50%;
      border-radius: 5px;
      box-shadow: 1px 10px 15px rgba(0, 0, 0, 0.5); }
  .nosotras-2 h3 {
    font-size: 30px;
    font-style: normal;
    font-weight: bold;
    color: #080707;
    text-shadow: 4px 4px 5px #817e7e;
    text-align: center;
    margin: 5%; }
  .nosotras-3 img {
    width: 40%;
    height: 40%;
    margin: 5%;
    margin-left: 30%; }
  .nosotras-3 h3 {
    text-align: center; }
  /* CONFIGURACION DE INICIO DE SESION */
  .sesion-1 h3 {
    font-size: 25px;
    margin: 5%;
    font-family: 'Heebo', sans-serif;
    text-align: center; }
  /* Cuadro englobador y correo/contraseña */
  .sesion-2 {
    position: relative;
    top: 10px;
    width: 400px;
    height: 350px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b9b9b9;
    text-align: center;
    box-shadow: 2px 5px 30px #000;
    margin: auto;
    color: white;
    /*olvidaste tu contraseña?  */ }
    .sesion-2 h3 {
      font-size: 40px;
      padding: 25px;
      font-weight: bold; }
    .sesion-2 div input {
      border: solid #2ba6c5;
      font-size: 20px;
      margin: 3%; }
    .sesion-2 div p a {
      color: white;
      position: relative;
      top: 15px;
      text-decoration: none;
      font-size: 20px; }
  /* BOTON INGRESAR */
  .sesion-3 input {
    position: relative;
    top: 10px; }
  /* si sos nuevo */
  .sesion-4 h3 {
    position: relative;
    top: 10px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    margin: 3%; }
  .sesion-4 input {
    text-align: center;
    border: solid #2ba6c5;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 15px;
    position: relative; }
  /* Fin de incio de sesion */
  /* REGISTRARME */
  .englobador-registro {
    width: auto;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b9b9b9;
    text-align: center;
    box-shadow: 2px 5px 30px #000;
    margin: 15%; }
  .registrate-1 {
    margin: 5%; }
    .registrate-1 h3 {
      font-size: 30px;
      font-family: 'Heebo', sans-serif; }
  .registrate-4 button {
    font-size: 17px; }
  #boton-ingresar {
    position: relative;
    left: 275px;
    top: 20px; }
  /* Inicio del footer */
  footer .title-foo {
    font-size: 15px; }
  footer .fa-brands {
    width: 87px; }
  footer .fa-instagram {
    font-size: 30px; }
  footer .fa-facebook {
    font-size: 30px; }
  footer .fa-whatsapp {
    font-size: 30px; }
  footer .pyp {
    position: relative;
    right: 2px; }
  /* fin del footer */
  /* grid area */
  .h3-galeria {
    text-align: center;
    font-size: 25px;
    margin-top: 1%; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 5px; }
    .galeria img {
      object-fit: cover;
      width: 70%;
      height: 70%;
      margin-top: 50px; }
  .galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 335px);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 5px; }
    .galeria2 img {
      object-fit: cover;
      width: 70%;
      height: 70%;
      margin-top: 50px; } }

@media only screen and (min-width: 1366px) {
  .navbar-nav {
    padding-left: 74%; }
  .navbar-light .navbar-nav .nav-link {
    font-size: 15px; }
  .btn:hover {
    border: solid #929292;
    background-color: #929292; }
  .foto-header {
    height: 250px; }
    .foto-header h3 {
      max-height: 40px;
      font-size: 30px; }
    .foto-header p {
      position: relative;
      top: 35px;
      font-size: 70px; }
    .foto-header .off-abajo {
      margin-top: 65px; }
  #imagenes-index div img {
    width: 100%;
    margin-top: 3%;
    margin-bottom: 1%;
    margin-left: 1%;
    margin-right: 1%; }
  #cartas {
    margin-left: 10%; }
  .galeria {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(3, 350px);
    grid-gap: 5px;
    justify-content: center; }
    .galeria img {
      object-fit: cover;
      width: 70%;
      height: 70%;
      margin-top: 50px; }
  .galeria2 {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: repeat(2, 350px);
    grid-gap: 5px;
    justify-content: center; }
    .galeria2 img {
      object-fit: cover;
      width: 70%;
      height: 70%;
      margin-top: 50px; }
  .englobador-registro {
    width: 500px;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #b9b9b9;
    text-align: center;
    box-shadow: 2px 5px 30px #000;
    margin: 5%;
    position: relative;
    left: 370px; }
  .registrate-2, .registrate-3, .registrate-4 {
    text-align: center;
    padding: 5%; }
    .registrate-2 h3, .registrate-3 h3, .registrate-4 h3 {
      font-size: 25px;
      color: white; }
    .registrate-2 input, .registrate-3 input, .registrate-4 input {
      font-size: 15px; }
  .apellido-boton {
    text-align: center; }
    .apellido-boton h3 {
      font-size: 25px;
      color: white; }
    .apellido-boton input {
      font-size: 15px; }
  .registrate-3 {
    text-align: center;
    padding: 5%; }
    .registrate-3 h3 {
      font-size: 25px;
      color: white; }
    .registrate-3 input {
      font-size: 15px; }
  .contra-boton {
    text-align: center; }
    .contra-boton h3 {
      font-size: 25px;
      color: white; }
    .contra-boton input {
      font-size: 15px; }
  .registrate-4 {
    text-align: center;
    padding: 5%; }
    .registrate-4 h3 {
      font-size: 25px;
      color: white; }
    .registrate-4 input {
      font-size: 15px; }
    .registrate-4 #boton-ingresar {
      position: relative;
      left: 170px; }
  footer .title-foo {
    font-size: 20px; }
  footer #footer-ok {
    display: flex;
    justify-content: center; }
  footer .fa-brands {
    width: 120px; }
  footer .fa-instagram {
    font-size: 30px; }
  footer .fa-facebook {
    font-size: 30px; }
  footer .fa-whatsapp {
    font-size: 30px; }
  footer .breadcrumb-item {
    font-size: 15px; } }

body {
  margin: 0%;
  background-color: #fcabcc;
  background-size: cover; }
