/* MOBILE */
footer { 
    background: rgb(244,242,242);
    background: radial-gradient(circle, rgba(244,242,242,1) 0%, rgba(236,236,236,1) 50%, rgba(177,177,177,1) 100%);
    border-top: solid black;
    height: 100%;
    width: 100%;
    padding: 10px;
  
  .title-foo {
    font-size: $letra-size - 30;
  }
    a { 
        text-decoration: none;
      }

      ul li {
        display: flex;
        justify-content: center;
        padding: 0%;
        font-weight: bold;
        text-decoration: none;
        list-style: none;
      }
      #footer-ok {
        display: -webkit-box;
      }

.pyp {
        display: flex;
        justify-content: center;
        padding: 0%;
        @include center;
      a {
        color: #212529;
        font-size: $letra-size - 28;
      }  
      }
      
.fa-brands { 
        width: 75px;
        list-style: none;
        // @include altura(100px);
        // margin-top: 15%;
      }
       // maps
       $redes: (
        instagram: palevioletred,
        facebook: blue,
        whatsapp: #27df27,
      );
      @each $rede, $color in $redes {
        .fa-#{$rede} {
          color: $color;
          font-size: $letra-size - 20;
        }
      }

    .breadcrumb-item {
      color: #212529;
      font-size: $letra-size - 28;
    a {
      color: #212529;
    }
  } 

}   
